<nav>
  <h2>Astro</h2>
  <ul>
    <a href="/">Home</a>
  </ul>
</nav>
<!-- <style>
  nav {
    position: absolute;
    top: 0%;
    height: 50px;
    right: 0;
    left: 0;
    background-color: #eee;
  }
</style> -->
