---
const links = [
  { url: '/', title: 'Home' },
  { url: '/about', title: 'About' },
  { url: '/products', title: 'Products' },
];
---

<nav class="flex h-[100px] justify-between items-center bg-slate-400 text-xl">
  <h1 class="text-purple-800 px-[20px] font-bold">Astro</h1>
  <ul class="list-none flex px-[50px] justify-end w-[80%]">
    {
      links.map((el) => (
        <li>
          <a class="px-[1rem]" href={el.url}>
            {el.title}
          </a>
        </li>
      ))
    }
  </ul>
</nav>
